/*-- scss:defaults --*/

$theme: "syke" !default;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// Color system
// Main colors
$white: #fff !default;
$syke-darkgreen: #005854 !default;
$syke-green: #84C497 !default;
$syke-red: #F28E77 !default;
$syke-blue: #64C1CB !default;
$syke-gray: #E4E3DE !default;
$black: #000 !default;

// Additional colors

$syke-lightgreen: #C7E3D2 !default;
$syke-lightred: #FCD9C9 !default;
$syke-darkred: #B34733 !default;
$syke-lightblue: #CFE9EA !default;
$syke-darkblue: #006085 !default;
$syke-lightyellow: #FED992 !default;
$syke-darkgray: #575756 !default;
$syke-ocra: #BB5B0F !default;

//$body-bg: $vesi-dark !default;
$body-color: $syke-darkgreen !default;
$link-color: $syke-red !default;
$text-muted: darken($syke-gray, 20%) !default;
$selection-bg: $syke-red !default;
$border-color: $text-muted !default;
$code-block-border-color: $text-muted !default;

$primary:   $syke-darkgreen !default;

// Options

$enable-rounded: false !default;

// Body

$body-color: $syke-darkgreen !default;

// Fonts
$font-family-sans-serif: "Poppins", sans-serif !default;
$headings-font-weight: 400 !default;


//havbar

/*-- scss:rules --*/


//logo
.reveal .slide-logo {
  position: absolute !important;
  right: 40px !important;
  bottom: 40px !important;
  height: auto !important;
  width: auto!important;
  max-width: 20% !important;
  max-height: 20% !important;
}


// title slide
.title {
  font-size: $title-font-size !important;
  color: $body-color !important;
}
.subtitle, 
.author{
  font-size: $title-font-size 30% !important;
}
.date, 
.institute{
  font-size: $title-font-size 20% !important;
}


//highlight for text
.highlight {
  visibility: true;
  color: $syke-red !important;
  font-weight: bold !important;
}

// brand colors for text
.syke-darkgreen{
  color: $syke-darkgreen !important;
}
.syke-green{
  color: $syke-green !important;
}
.syke-red{
  color: $syke-red !important;
}
.syke-blue{
  color: $syke-blue !important;
}

.syke-gray{
  color: $syke-gray !important;
}




/*-- scss:mixins --*/

